doctype html
html(data-bs-theme='dark')
  head
    include head
  body
    header
      include navbar
    .container.mt-3
      .d-flex.justify-content-left.mb-3
        button.btn.btn-primary(type='button' style='margin-right: 5px; margin-bottom: 5px;' onclick='addCredential();') Add Credentials
      h5.card-title Usernames
      textarea.form-control(rows='10', readonly='')
        for credential in credentials
          if credential.username && !credential.password
            = credential.username + '\n'
      h5.card-title Passwords
      textarea.form-control(rows='10', readonly='')
        for credential in credentials
          if credential.password && !credential.username
            = credential.password + '\n'
      h5.card-title Hashes
      textarea.form-control(rows='10', readonly='')
        for credential in credentials
          if credential.hash
            = credential.hash + '\n'
      h5.card-title Combolist
      textarea.form-control(rows='10', readonly='')
        for credential in credentials
          if credential.username && credential.password
            = credential.username + ':' + credential.password + '\n'      

      .row.row-cols-1.row-cols-md-2.row-cols-lg-3.row-cols-xl-4.g-4

    include scripts
    script.
      function addCredential() {
        Swal.fire({
          title: 'Add Credential(s)',
          width: 800,
          html: `
          <textarea id="credential" class="swal2-input" placeholder="put your credentials here" style="height: 200px; width: 100%;"></textarea>
          <br>
          <input id="credentialType" type="radio" name="credentialType" value="username" checked> Username
          <br>
          <input id="credentialType" type="radio" name="credentialType" value="password"> Password
          <br>
          <input id="credentialType" type="radio" name="credentialType" value="combo"> Username:Password
          <br>
          <input id="credentialType" type="radio" name="credentialType" value="hash"> Hash
          <br>
          <input id="credentialType" type="radio" name="credentialType" value="samdump"> SAM Dump
          `,
          showCancelButton: true,
          confirmButtonText: 'Add',
          showLoaderOnConfirm: true,
          preConfirm: () => {
            const credential = document.getElementById('credential').value;
            const credentialType = document.querySelector('input[name="credentialType"]:checked').value;
            return fetch(`/credentials`, {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json'
              },
              body: JSON.stringify({ credential, credentialType })
            }).then(response => {
              if (!response.ok) {
                return response.json().then(errorData => {
                  throw new Error(errorData.error || response.statusText);
                });
              }
              return response.json();
            }).catch(error => {
              Swal.showValidationMessage(`Request failed: ${error.message}`);
            });
          },
          allowOutsideClick: () => !Swal.isLoading()
        }).then((result) => {
          if (result.isConfirmed) {
            location.reload();
          }
        });
      }

