meta(charset='UTF-8')
meta(name='viewport' content='width=device-width, initial-scale=1.0')
title R3CON
script(src='https://cdnjs.cloudflare.com/ajax/libs/vis-network/9.1.9/standalone/umd/vis-network.min.js' integrity='sha512-iTgTmIgxyA2YehKNVbzLJx4j9SnuC5ihtRrtxVkXH/9nF3vXBN5YeNQp+6wufBWKD3u+roHVNOvWBMufQnBbug==' crossorigin='anonymous' referrerpolicy='no-referrer')
link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css')
link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/sweetalert2/11.14.2/sweetalert2.css' integrity='sha512-TG239kA30BXeGpy+HpJei+qfJcKo8V9HKpe8UWuVdpk49NGUe86EDhmdXkCxMqD5gSlkLLi6YQ9SbNp+yRa9xQ==' crossorigin='anonymous' referrerpolicy='no-referrer')
link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css' integrity='sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==' crossorigin='anonymous' referrerpolicy='no-referrer')

style.
  #mynetwork {
    width: 100%;
    height: 100vh;
    border: 1px solid lightgray;
  }
  .navbar {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  .bg-dark {
    background-color: rgb(44, 48, 53) !important;
  }