script(src='https://cdn.jsdelivr.net/npm/chart.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/sweetalert2/11.14.2/sweetalert2.min.js' integrity='sha512-nD7/PXl2UD6bAYMJVKTLhr7qwnWVvoyqk8/WMzedDKMiQbaNXT3EUPzLYbLUHCLWqAZoXO37aVCtCKmAxZfqGw==' crossorigin='anonymous' referrerpolicy='no-referrer')
script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.min.js' integrity='sha512-ykZ1QQr0Jy/4ZkvKuqWn4iF3lqPZyij9iRv6sGqLRdTPkY69YX6+7wvVGmsdBbiIfN/8OdsI7HABjvEok6ZopQ==' crossorigin='anonymous' referrerpolicy='no-referrer')
script(src='https://cdnjs.cloudflare.com/ajax/libs/marked/14.1.2/marked.min.js' integrity='sha512-bXyBT2/sYjZg1D7ykDS6eJSE4DFDVPJHvbRAfdfYKr6IusrCz7wAmSm36vz9G8zMob25Rvqu90vft3JI71ygcQ==' crossorigin='anonymous' referrerpolicy='no-referrer')